@page "/login"

@using Services;

@inject UserService service

<div class="logregcontainer">
    <div class="registercontainer">
        <p>
            <label>Nome Completo</label>
            <input type="text" @bind-value="@name"/>
        </p>

        <p>
            <label>Senha</label>
            <input type="password" @bind-value="@password"/>
        </p>

        <p>
            <label>Data de Nascimento</label>
            <input type="date" @bind-value="@birth"/>
        </p>

        <p>
            <label>Nome de Usuario</label>
            <input type="text" @bind-value="@userId"/>
        </p>

        <button onclick="@CreateAccount">
            Criar Conta
        </button>
    </div>
</div>
@code 
{
    private string name;
    private string password;
    private DateTime birth;
    private string userId;

    public async void CreateAccount()
    {
        await service.Register(
            this.name, 
            this.userId,
            this.birth, 
            this.password);
    }
}